:root {
    --main-velog-color: #20C997;
    --sub-velog-color: #b0ffe7;
}

/* ====================================================== */
/* 네비게이션바 관련 CSS */
/* ====================================================== */

.sidebar {
    background-color: #222;
    width: 200px;
    /* height: 100vh; */
    position: fixed;
    left: 0;
    top: 0;
    padding: 20px;
    transition: transform 0.3s ease;
    height: 100%;
}

.sidebar.collapsed {
    transform: translateX(-100%);
}

.navbar-toggle {
    background-color: #222;
    border: none;
    color: white;
    padding: 10px 15px;
    font-size: 20px;
    cursor: pointer;
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 1000;
    background-color: #666;
    border-radius: 15px;
}

.navbar-toggle:hover {
    background: var(--main-velog-color);
}

/* ====================================================== */
/* swal noti modal 관려 CSS */
/* ====================================================== */

#notiModal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#notiModal div {
    font-size: 1.4rem;
    margin-left: 6px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#notiModal div p {
    font-size: 1rem;
}

ol {
    font-size: 0.9rem;
    text-align: left;
    margin-bottom: 15px;
}

ol li {
    margin-top: 6px;
}

#swal2-html-container {
    margin-top: 0px !important;
}

#swal2-html-container b {
    cursor: pointer;
}


/* ====================================================== */
/* 메인과 메인섹션 & Block 관련 CSS */
/* ====================================================== */

.main-content {
    transition: margin-left 0.3s ease;
}

.main-content.expanded {
    margin-left: 0;
}

ul {
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style-type: none;
    padding-left: 0px;
}

li a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 10px;
    font-weight: 800;
}

li a:hover {
    background-color: #444;
}

nav ul li:last-child a {
    font-size: 0.8rem;
    color: rgb(180, 180, 180);
}

.main-content {
    margin-left: 220px;
    padding: 20px;
}

.stats-section, .posts-section {
    margin-bottom: 20px;
}

.stats-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.stats-section-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #222;
    width: 300px;
    height: 200px;
    margin: 20px;
    border-radius: 15px;
    font-size: 1.65rem;
    font-weight: bolder;
}

/* Total View Div Wrapper */
.stats-total-view {
    cursor: pointer;
}

.stats-section-block-title {
    font-size: 0.9rem;
    margin-bottom: 20px;
}

.stats-section-block-detail {
    font-size: 0.7rem;
    margin-top: 20px;
    color: var(--main-velog-color);
}

.stats-section-block-detail>div {
    display: flex;
    flex-direction: row;
    font-size: 0.85rem;
}

#userInfo-lastScrapingAttemptTime,
#userInfo-lastScrapingAttemptResult {
    width: 100%;
    text-align: center;
}

.stats-section-block-detail div span {
    flex: 1 1 auto;
    /* grow, shrink, basis */
    width: 50%;
    white-space: normal;
    overflow-wrap: break-word;
    /* 단어가 컨테이너를 넘어갈 경우 줄바꿈 */
}

.stats-section-block-detail div span:last-child {
    color: var(--sub-velog-color);
}

.stats-section-block-info {
    font-size: 1.1rem;
}

.stats-section-block-info span {
    margin: 5px;
}

.posts-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.posts-section h2 {
    text-align: center;
}

.posts-section h2 span {
    font-size: 0.96rem;
    color: var(--main-velog-color);
}

.posts-section-menu button {
    margin: 3px;
    font-size: 0.93rem;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 5px;
    /* 상단에 10px, 우측에 15px, 하단에 5px, 좌측에 20px */
    padding: 2px 6px 2px 6px;
    color: black;
}

div.hvr-sweep-to-bottom::before {
    background: var(--main-velog-color);
    text-align: center;
    content: "그래프 보기";
    padding-top: 12px;
}

button.hvr-sweep-to-bottom::before {
    background: var(--main-velog-color);
}

/* ====================================================== */
/* 동적으로 랜더링되는 post list 관련 CSS */
/* ====================================================== */

#posts-list {
    width: 100%;
}

#posts-list li {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    background-color: rgba(33, 33, 33, 1);
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 15px;
}

.posts-list-graph {
    padding: 10px;
    cursor: pointer;
    font-size: 0.8rem;
    font-weight: bolder;
    color: var(--main-velog-color);
    border-radius: 15px;
    margin-right: 1px;
}

.posts-list-graph:hover {
    background-color: #444;
}

.posts-list-graph::after {
    content: "그래프 ▼";
}

.graph-active::after {
    content: "그래프 ▲";
    padding: 6px;
    border-radius: 15px;
    background-color: var(--main-velog-color);
    color: white;
}

.posts-list-today-veiw {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-right: 2px;
}

.posts-list-today-veiw img {
    margin-right: 5px;
}

/* ====================================================== */
/* 동적으로 랜더링되는 차트 관련 CSS */
/* ====================================================== */

.post-graph-div-date {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}

/* 모든 버튼과 링크에 대한 스타일링 */
.post-graph-div-btn {
    background-color: var(--main-velog-color);
    color: white;
    padding: 7px;
    text-decoration: none;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* 버튼과 링크에 대한 호버 효과 */
.post-graph-div-btn:hover {
    background-color: #666;
    color: var(--main-velog-color);
    transition: background-color 0.3s, color 0.3s;
}


/* 날짜 선택기 스타일링 */
.post-graph-div-date input[type="date"] {
    background-color: #333;
    color: #ccc;
    border: 1px solid #444;
    padding: 5px;
    border-radius: 4px;
    margin: 5px;
    font-size: 0.8rem;
}

/* 입력 필드에 대한 호버 및 포커스 효과 */
.post-graph-div-date input[type="date"]:hover,
.post-graph-div-date input[type="date"]:focus {
    border-color: var(--main-velog-color);
    /* 호버 및 포커스시 테두리 색상 */
    outline: none;
    /* 기본 아웃라인 제거 */
}

/* 레이블 스타일링 */
.post-graph-div-date label {
    font-size: 0.8rem;
    color: #ccc;
    margin-bottom: 5px;
}


/* ====================================================== */
/* 그 외 & footer 관련 CSS */
/* ====================================================== */


hr {
    border: 1px solid #444;
}

#section-footer {
    text-align: center;
    font-size: 0.7rem;
    font-style: italic;
    cursor: pointer;
}


/* ====================================================== */
/* MOBILE */
/* ====================================================== */

@media only screen and (max-width: 600px) {

    /* 화면 너비가 600px 이하일 때 적용할 스타일을 여기에 작성합니다. */
    .stats-section {
        flex-direction: column;
    }

    .posts-list-graph::after {
        content: "▼";
    }

    .graph-active::after {
        content: "▲";
        padding: 6px;
        border-radius: 15px;
        background-color: var(--main-velog-color);
        color: white;
    }
}

@media only screen and (max-width: 1200px) {

    /* 화면 너비가 1200px 이하일 때 적용할 스타일을 여기에 작성합니다. */
    #posts-list li a {
        max-width: 650px;
    }

    .posts-list-graph::after {
        content: "▼";
    }

    .graph-active::after {
        content: "▲";
        padding: 6px;
        border-radius: 15px;
        background-color: var(--main-velog-color);
        color: white;
    }
}